<footer class="footer">
        <div class="container">
            <span class="text-muted">Copyright <a href="http://consorcioqutubminar.com/">Consorcio Qutub Minar</a> </span>
            <span style="float: right; color: black"> <b>©2018 All Rights Reserved.</b></span>
        </div>
    </footer>